{% extends "blog/base.html" %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block content %}
  <h1>{{ post.title | truncatewords:10}}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|linebreaks }}
  <p>
    <a href="{% url 'blog:post_share' post.pk %}">
      Поделиться постом
    </a>
  </p>
  {% with comments.count as totat_comments %}
    <h2>Общее количество комментариев - {{ totat_comments }}</h2>
    <h2>{{ totat_comments }} comment{{ totat_comments|pluralize }}</h2>
  {% endwith %}
  <h2>Комментарии</h2>
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        {{ forloop.counter }} комментарий от {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>Тут ещё нет комментариев</p>
  {% endfor %}
  {% include "blog/post/includes/comment_form.html" %}
{% endblock content %}