{% extends "blog/base.html" %}

{% block title %}Поделиться постом{% endblock title %}

{% block content %}
  {% if sent %}
    <h2>Пост удачно отправлен</h2>
    <p>"{{ post.title }}" удачно отправлен {{ form.cleaned_data.to }}</p>
  {% else %}
    <h1>Поделиться постом {{ post.title }} по email</h1>
    <form action="{% url 'blog:post_share' post.pk %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Оправить email">
    </form>
  {% endif %}
{% endblock content %}